/* #main-container{
    border: 3px solid ;
}
#container-1{
    padding: 10%;
}
body{
    font-family: sans-serif;
    background-color: #EEEEEE;
}
#fahrenheit {
    background-color: #F6D729;
}
*/
#celsius{
    
    padding-left: 150px;
} 
#title2{
 margin-left: 110px;
}